<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<title>Epmployee Directory</title>
</head>

<body>

<div class="container">

	<h3>Intervenant Directory</h3>
	<hr>
<!-- add button -->



	<table class=" table table-bordered table-striped ">

		<thead class="thead-dark">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Action</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="tempIntervenant : ${intervenants}">
				<td th:text="${tempIntervenant.firstName}">
				<td th:text="${tempIntervenant.lastName}">
				<td th:text="${tempIntervenant.email}">
				
		</tbody>

	</table>
	
	</div>
</body>


</html>